/* Custom CSS */
img[src$='#center']
{
display: block;
margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
whatever floats your boat, but keep the
horizontal 'auto' for this to work */
/* whatever else styles you fancy here */
width: 450px; 
}

img[src$='#floatleft']
{
float:left;
margin: 0.7rem;      /* this margin is totally up to you */
/* whatever else styles you fancy here */
}

img[src$='#floatright']
{
float:right;
margin: 0.7rem;      /* this margin is totally up to you */
/* whatever else styles you fancy here */
}

img {
	margin: 0.7rem;  
}

#sidebyside {
	text-align:center;
}

.sbsleft {
	display: inline-block;
	margin-left: auto;
	margin-right: 1rem;
}
.sbsright {
	display: inline-block;
	margin-right: auto;
	margin-left: 1rem;
}

#ista_banner {
	display: block;
	margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

